{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}
<link rel="icon" type="image/svg+xml" href="/img/logo.svg">
<link rel="shortcut icon" href="{{ "/favicon.ico" | relative_url }}" type="image/x-icon">
<link rel="alternate icon" href="{{ "/favicon.ico" | relative_url }}" type="image/x-icon">
<link rel="mask-icon" href="/img/logo.svg" color="#fff">
<link rel="apple-touch-icon" href="/img/icon-167x167.png" sizes="167x167">
<link rel="apple-touch-icon" href="/img/icon-180x180.png" sizes="180x180">
