{%- assign m = page.date | date: "%-m" -%}
{%- case m -%}
  {%- when "1" -%}
     {%- assign month = "января" -%}
  {%- when "2" -%}
     {%- assign month = "февраля" -%}
  {%- when "3" -%}
     {%- assign month = "марта" -%}
  {%- when "4" -%}
     {%- assign month = "апреля" -%}
  {%- when "5" -%}
     {%- assign month = "мая" -%}
  {%- when "6" -%}
     {%- assign month = "июня" -%}
  {%- when "7" -%}
     {%- assign month = "июля" -%}
  {%- when "8" -%}
     {%- assign month = "августа" -%}
  {%- when "9" -%}
     {%- assign month = "сентября" -%}
  {%- when "10" -%}
     {%- assign month = "октября" -%}
  {%- when "11" -%}
     {%- assign month = "ноября" -%}
  {%- when "12" -%}
     {%- assign month = "декабря" -%}
  {%- else -%}
     {%- assign month = "" -%}
{%- endcase -%}
{{- page.date | date: "%-d" }}&nbsp;{{ month -}}
