{% if site.posts %}
{% assign posts = site.posts | reverse %}
<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{% if page.previous.url %}<a href="{{ page.previous.url | relative_url }}">Предыдущий день</a>{% elsif posts.last.url %}<a href="{{ posts.last.url | relative_url }}">Последний день</a>{% endif %}</p>
      </div>
      
      <div class="footer-col footer-col-3">
        <p>{% if page.next.url %}<a href="{{ page.next.url | relative_url }}">Следующий день</a>{% elsif posts.first.url %}<a href="{{ posts.first.url | relative_url }}">Первый день</a>{% endif %}</p>
      </div>
    </div>

  </div>

</footer>
{% endif %}
