{%- assign books = site.data.books -%}
{%- assign bible = site.data.rst -%}
{%- assign endings = include.passage | split: "-" -%}
{%- assign start = endings[0] | split: " " -%}
{%- assign start_book = start[0] -%}
{%- assign start_verses = start[1] | split: ":" -%}
{%- assign start_ch = start_verses[0] -%}
{%- assign start_ver = start_verses[1]-%}
<script>console.log("endings[1]: {{ endings[1] }}");</script>
{%- assign second_ending_size = endings[1] | size -%}
{%- if second_ending_size == 0 -%}
  {%- assign end_book = start_book -%}
  {%- assign end_ch = start_ch -%}
  {%- assign end_ver = start_ver -%} 
{%- else -%}
  {%- assign end = endings[1] | split: " " -%}
  <script>console.log("end[1]: {{ end[1] }}");</script>
  {%- assign second_end_size = end[1] | size -%}
  {%- if second_end_size == 0 -%}
    {%- assign end_book = start_book -%}
    {%- assign end_verses = end[0] | split: ":" -%}
  {%- else -%}
    {%- assign end_book = end[0] -%}
    {%- assign end_verses = end[1] | split: ":" -%}
  {%- endif -%}
  <script>console.log("end_verses[1]: {{ end_verses[1] }}");</script>
  {%- assign second_end_verses_size = end_verses[1] | size -%}
  {%- if second_end_verses_size == 0 -%}
    {%- assign end_ch = start_ch -%}
    {%- assign end_ver = end_verses[0] -%}
  {%- else -%}
    {%- assign end_ch = end_verses[0] -%}
    {%- assign end_ver = end_verses[1] -%}
  {%- endif -%}
{%- endif -%}

{%- assign second_book = false -%}
{%- for b in books -%}
  {%- if b.book == start_book -%}
    {%- assign book_index = b.index | minus: 1 -%}
    {%- assign first_book = bible[book_index] -%}
  {%- elsif b.book == end_book -%}
    {%- assign book_index = b.index | minus: 1 -%}
    {%- assign second_book = bible[book_index] -%}
  {%- endif -%}
{%- endfor -%}

{%- unless second_book -%}
  {%- for i in (start_ch..end_ch) -%}
    {%- assign ch_index = i | minus: 1 -%}
    {%- assign chapter = first_book[ch_index] -%}
    {%- if i == start_ch -%}
      {%- assign start_v = start_ver -%}
      <script>
        console.log("i == start_ch");
        console.log("i: {{ i }}");
        console.log("start_ch: {{ start_ch }}");
        console.log("start_v: {{ start_v }}");
      </script>
    {%- else -%}
      {%- assign start_v = 1 -%}
      <script>
        console.log("i != start_ch");
        console.log("i: {{ i }}");
        console.log("start_ch: {{ start_ch }}");
        console.log("start_v: {{ start_v }}");
      </script>
    {%- endif -%}
    {%- if i == end_ch -%}
      {%- assign end_v = end_ver -%}
      <script>
        console.log("i == end_ch");
        console.log("i: {{ i }}");
        console.log("end_ch: {{ end_ch }}");
        console.log("end_v: {{ end_v }}");
      </script>
    {%- else -%}
      {%- assign end_v = chapter.size -%}
      <script>
        console.log("i != end_ch");
        console.log("i: {{ i }}");
        console.log("end_ch: {{ end_ch }}");
        console.log("end_v: {{ end_v }}");
      </script>
    {%- endif -%}
    {%- if start_ch != end_ch -%}
      <h3>Глава {{ i }}</h3>
    {%- endif -%}
    <ol start="{{ start_ver }}">
    {%- for j in (start_v..end_v) -%}
    {%- assign ver_index = j | minus: 1 -%}
      {%- assign verse = chapter[ver_index] -%}
      <li>{{ verse }}</li>
    {%- endfor -%}
    </ol>
  {%- endfor -%}
{%- endunless -%}

{%- if second_book -%}
  {%- assign first_book_end_ch = second_book.size -%}
  {%- for i in (start_ch..first_book_end_ch) -%}
    {%- assign ch_index = i | minus: 1 -%}
    {%- assign chapter = first_book[ch_index] -%}
    {%- if i == start_ch -%}
      {%- assign start_v = start_ver -%}
    {%- else -%}
      {%- assign start_v = 1 -%}
    {%- endif -%}
    {%- if i == end_ch -%}
      {%- assign end_v = end_ver -%}
    {%- else -%}
      {%- assign end_v = chapter.size -%}
    {%- endif -%}
    {%- if start_ch == end_ch -%}
      <h3>Глава {{ i }}</h3>
    {%- endif -%}
    <ol start="{{ start_ver }}">
    {%- for j in (start_v..end_v) -%}
    {%- assign ver_index = j | minus: 1 -%}
      {%- assign verse = chapter[ver_index] -%}
      <li>{{ verse }}</li>
    {%- endfor -%}
    </ol>
  {%- endfor -%}
  {%- assign second_book_start_ch = 1 -%}
  {%- for i in (second_book_start_ch..end_ch) -%}
    {%- assign ch_index = i | minus: 1 -%}
    {%- assign chapter = second_book[ch_index] -%}
    {%- if i == start_ch | plus: 0 -%}
      {%- assign start_v = start_ver -%}
    {%- else -%}
      {%- assign start_v = 1 -%}
    {%- endif -%}
    {%- if i == end_ch | plus: 0 -%}
      {%- assign end_v = end_ver -%}
    {%- else -%}
      {%- assign end_v = chapter.size -%}
    {%- endif -%}
    {%- if start_ch != end_ch -%}
      <h3>Глава {{ i }}</h3>
    {%- endif -%}
    <ol start="{{ start_ver }}">
    {%- for j in (start_v..end_v) -%}
    {%- assign ver_index = j | minus: 1 -%}
      {%- assign verse = chapter[ver_index] -%}
      <li>{{ verse }}</li>
    {%- endfor -%}
    </ol>
  {%- endfor -%}
  <script>
    console.log("second_book: {{ second_book }}");
  </script>
{%- endif -%}

<script>
console.log("start_book: {{ start_book }}");
console.log("end_book: {{ end_book }}");
console.log("start_ch: {{ start_ch }}");
console.log("end_ch: {{ end_ch }}");
console.log("start_ver: {{ start_ver }}");
console.log("end_ver: {{ end_ver }}");
console.log("first_book_end_ch: {{ first_book_end_ch }}");
console.log("second_book_start_ch: {{ second_book_start_ch }}");
</script>