{%- assign books = site.data.books -%}
{%- assign bible = site.data.rst -%}
{%- assign endings = include.passage | split: "-" -%}
{%- assign start = endings[0] | split: " " -%}
{%- assign start_book = start[0] -%}
{%- assign start_verses = start[1] | split: ":" -%}
{%- assign start_ch = start_verses[0] -%}
{%- assign start_ver = start_verses[1] -%}
{% if endings[1] == "" %}
  {%- assign end_book = start_book -%}
  {%- assign end_ch = start_ch -%}
  {%- assign end_ver = start_ver -%} 
{% else %}
  {%- assign end = endings[1] | split: " " -%}
  {% if end[1] == "" %}
    {%- assign end_book = start_book -%}
    {%- assign end_verses = end[0] | split: ":" -%}
  {% else %}
    {%- assign end_book = end[0] -%}
    {%- assign end_verses = end[1] | split: ":" -%}
  {% endif %}
  {% if end_verses[1] == "" %}
    {%- assign end_ch = start_ch -%}
    {%- assign end_ver = end_verses[0] -%}
  {% else %}
    {%- assign end_ch = end_verses[0] -%}
    {%- assign end_ver = end_verses[1] -%}
  {% endif %}
{% endif %}

{%- for b in books -%}
  {%- if b.book == start_book -%}
    {%- assign book_index = b.index | minus: 1 -%}
    {%- assign book = bible[book_index] -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

{% assign ch_range = (start_ch..end_ch) %}
{% for i in ch_range %}
  {% assign ch_index = i | minus: 1 %}
  {% assign chapter = book[ch_index] %}
  {% assign last_verse_index = chapter.size | minus: 1 %}
  {% if i == start_ch %}
    {% assign start_v = start_ver %}
  {% else %}
    {% assign start_v = 1 %}
  {% endif %}
  {% if i == end_ch %}
    {% assign end_v = end_ver %}
  {% else %}
    {% assign end_v = last_verse_index %}
  {% endif %}
  <ol start="{{ start_ver }}">
  {% assign v_range = (start_v..end_v) %}
  {% for j in v_range %}
  {% assign ver_index = j | minus: 1 %}
    {% assign verse = chapter[ver_index] %}
    <li>{{ verse }}</li>
  {%- endfor -%}
  </ol>
{%- endfor -%}
