{%- assign books = site.data.books -%}
{%- assign bible = site.data.rst -%}
{%- assign endings = include.passage | split: "-" -%}
{%- assign start = endings[0] | split: " " -%}
{%- assign end = endings[1] | split: " " -%}
{%- assign start_book = start[0] -%}
{%- assign end_book = end[0] | default: nil -%}
{%- assign start_verses = start[1] | split: ":" -%}
{%- assign end_verses = end[1] | split: ":" -%}
{%- assign start_ch = start_verses[0] -%}
{%- assign end_ch = end_verses[0] | default: nil-%}
{%- assign start_ver = start_verses[1] -%}
{%- assign end_ver = end_verses[1] | default: nil -%}

{%- for b in books -%}
  {%- if b.book == start_book -%}
    {%- assign book_index = b.index | minus: 1 -%}
    {%- assign book = bible[book_index] -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

{%- for chapter in book offset: start_ch limit: end_ch | minus: start_ch -%}
  <ul>
  {%- for verse in chapter offset: start_ver limit: end_ver | minus: start_ver -%}
    <li>{{ verse }}</li>
  {%- endfor -%}
  </ul>
{%- endfor -%}
