---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{%- include date.html date=page.date -%}</h1>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {%- assign day = page.title | minus: 1 -%}
    {%- assign plan = site.data.plan[day] -%}
    <ul style="list-style-type: none; margin-left: 0;">
      <li>{%- include spoiler.html pl=plan.old -%}</li>
      <li>{%- include spoiler.html pl=plan.new -%}</li>
      <li>{%- include spoiler.html pl=plan.ps -%}</li>
      <li>{%- include spoiler.html pl=plan.pr -%}</li>
    </ul>
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
