---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%-d.%m" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {%- assign day = page.title | minus: 1 -%}
    {%- assign books = site.data.books -%}
    {%- assign bible = site.data.rst -%}
    {%- assign plan = site.data.plan[day] -%}
    <ol>
      <li>{{ plan.old }}</li>
      <li>{{ plan.new }}</li>
      <li>{{ plan.ps }}</li>
      <li>{{ plan.pr }}</li>
    </ol>
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

{% if site.posts %}
{% assign posts = site.posts | reverse %}
  <footer class="related">
    <div class="previous">{% if page.previous.url %}<a href="{{ page.previous.url | relative_url }}">Предыдущий день</a>{% elsif posts.last.url %}<a href="{{ posts.last.url | relative_url }}">Последний день</a>{% endif %}</div>
    <div class="next">{% if page.next.url %}<a href="{{ page.next.url | relative_url }}">Следующий день</a>{% elsif posts.first.url %}<a href="{{ posts.first.url | relative_url }}">Первый день</a>{% endif %}</div>
  </footer>
{% endif %}
