---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list" style="display: flex; flex-wrap: wrap;">
      {%- for post in site.posts reversed -%}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {%- include date.html date=post.date -%}
          </a>
        </h2>
        {%- if site.show_excerpts -%}
        {%- assign day = post.title | minus: 1 -%}
        {%- assign plan = site.data.plan[day] -%}
        <ul style="list-style-type: none; margin-left: 0;">
          <li><h3 style="display: inline;">{{ plan.old }}</h3></li>
          <li><h3 style="display: inline;">{{ plan.new }}</h3></li>
          <li><h3 style="display: inline;">{{ plan.ps }}</h3></li>
          <li><h3 style="display: inline;">{{ plan.pr }}</h3></li>
        </ul>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>