---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

</div>

<script>
  const year = new Date().getFullYear();
  const getLeapYear = year => year % 4 === 0 && (year % 100 !== 0 || year % 400 === 0);
  const today = Math.floor((new Date() - new Date(year, 0, 0)) / 1000 / 60 / 60 / 24);
  const redirect = {{ "/" | relative_url }} + getLeapYear(year) ? today > 31+28 ? : today - 1 : today;
  window.location.replace(redirect);
</script>